<%= stylesheet_link_tag "report/report.css", :plugin => 'redmine_destination_bbs' %>

<h2><%= l(:button_weekly_information) %></h2>
<h2><%= @beginning_of_week.to_s + ' ~ ' + (@next_week - 1).to_s %></h2>

<%= form_with(scope: :search, url: {controller: 'redmine_destination_bbs', action: 'report'}, method: :get, local: true, id: "search_group_form") do |f| %>
    <%= f.select :group_id, options_for_select(@groups.map{ |group| [group.lastname, group.id]}.push([l(:select_all), l(:select_all)]), @select_group_id), {prompt: l(:select_my_group)} %>
    <%= f.submit(l(:button_search_group)) %>
<% end %>

<%= link_to(l(:title_destination_bbs), redmine_destination_bbs_path, method: :get) %>

<table class="list">
    <thead><tr>
        <th><%=h l(:field_user_name) %></th>
        <th><%=h l(:field_working_in_place) %>
        <% (@beginning_of_week...@next_week).each do |date| %>
            <th class="<%= "today_column" if date == Date.today %>"><%=h date.strftime('%m-%d') + @weekday_list[date.wday] %></th>
        <% end %>
    </tr></thead>

    <tbody>
    <% @search_group_users_distinct.each do |group_user|%>
        <tr class="<%= cycle('odd', 'even') %>">
        <td><%= group_user %></td>
        <td><%= @custom_values.where(customized_id: group_user.id).select('value').first%></td>
        <% (@beginning_of_week...@next_week).each do |date| %>
            <% if  @destination_bbs_to_report.where(user_id: group_user.id, registration_date: date).blank? %>
                <td class="<%= "today_column" if date == Date.today %>"></td>
            <% else %>
                <% @destination_bbs_to_report.where(user_id: group_user.id, registration_date: date).each do |record| %>
                    <td class="<%= "today_column" if date == Date.today %>"><%= record.destination %></td>
                <% end %>
            <% end %>
        <% end %>
        </tr>
    <% end %>
    </tbody>
</table>

<%= form_with(url: {controller: 'redmine_destination_bbs', action: 'report', format: :csv}, method: :get, local: true) do |f| %>
    <%= f.hidden_field(:group_id, value: @select_group_id) %>
    <%= f.submit(l(:button_csv_download)) %>
<% end %>